.embed-responsive-item {
    width: 100% !important;
}

.pdfobject-container {
    height: 30rem;
    border: 1rem solid rgba(0, 0, 0, .1);
}


.modal-body {
    width: 100% !important;
    height: 80vh;
}

.modal-dialog {
    max-width: 90%;
}


.list-group-item {
    padding: 2px 5px !important;
}
