<div class="container">
        <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Students</h5>
                        <hr>
                        <br>

                        <div class="col-12">
                                <h6>Student</h6>
                                <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let link of studentList; let i=index">
                                                <a [href]="link.filename" target="_blank">{{link.displayText}}</a>
                                                <app-pdf-viewer [title]="link.displayText" [url]="link.filename"
                                                        [id]="'link'+i"></app-pdf-viewer>
                                        </li>
                                </ul>
                                <br>
                                <h6>Timetable</h6>
                                <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let links of timetable; let i=index">
                                                <a [href]="links.filename" target="_blank">{{links.displayText}}</a>
                                                <app-pdf-viewer [title]="links.displayText" [url]="links.filename"
                                                        [id]="'links'+i"></app-pdf-viewer>
                                        </li>
                                </ul>

                        </div>

                </div>
        </div>



</div>