<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Admission</h5>
      <hr>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <div class="">
              <h5 class="card-title">
                Admission to First Year of Post HSC Diploma Course In Pharmacy For Academic Year 2020-21
                <small>Institute Level Quota</small>
              </h5>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Sr. No</th>
                    <th>Activity</th>
                    <th>Schedule</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td> Sale of Information Brochure along with Application form
                      <br>  Submission of Filled application form
                    </td>
                    <td>01/01/2021 10 am to 03/01/2021 5.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Display of Provisional merit list</td>
                    <td>04/01/2021 at 11.00am</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Grievance to be submitted at institute</td>
                    <td>05/01/2021 up to 1.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Display of final merit list</td>
                    <td>05/01/2021 at 4.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Reporting to institute as per merit list</td>
                    <td>06/01/2021 to 08/01/2021 5.00 pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="">
            <div class="">
              <h5 class="card-title">
                Admission to First Year of Post HSC Diploma Course In Pharmacy For Academic Year 2020-21 (No. of
                Vacancies = 7)
                <small>Vacancy of ACAP</small>
              </h5>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Sr. No</th>
                    <th>Activity</th>
                    <th>Schedule</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td> Sale of Information Brochure along with Application form
                      <br>  Submission of Filled application form
                    </td>
                    <td>01/01/2021 10 am to 03/01/2021 5.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Display of Provisional merit list</td>
                    <td>04/01/2021 at 11.00am</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Grievance to be submitted at institute</td>
                    <td>05/01/2021 up to 1.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Display of final merit list</td>
                    <td>05/01/2021 at 4.00pm</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Reporting to institute as per merit list</td>
                    <td>06/01/2021 to 08/01/2021 5.00 pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




          <div class="">
            <div class="">
              <h5 class="card-title">Important Links</h5>
            </div>
            <div class="card-body">
              <ul>
                <li>
                  <a target="_blank" href="./assets/documentation/adv/Advertise.pdf">Admission advertise 2020-21</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>