<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <p class="">
        Shikshan prasarak Mandal's
      </p>
      <h1 class="" style="margin-top:-20px;">College of Pharmacy (poly), Akluj</h1>

      <!-- Author -->


      <hr>


      <!-- Preview Image -->
      <img class="img-fluid rounded" src="./assets/img/college/banner.jpg" alt="">

      <hr>

      <!-- Post Content -->
      <p class="lead">" To be a leader in pharmaceutical sciences & pharmacy practice education, training, research and continuous professional
        development for pharmacists and Pharmaceutical Scientists providing competent patient care and nurturing drug discovery
        and development "</p>


      <p>To impart knowledge, develop skills and competencies in students in pharmaceutical sciences and pharmacy practice</p>

      <p>
        To develop, promote and nurture research activities in pharmaceutical sciences and pharmacy practice and translating research
        into healthcare
      </p>
      <p>
        To develop and advance the knowledge, attitude and skills of pharmacists and faculty members who can provide comprehensive
        pharmaceutical care to patients, improve patient outcomes, and meet societal needs for safe and effective drug therapy
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum
        obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
      <hr>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Important links</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->