/* You can add global styles to this file, and also import other style files */

html, body{
    height: 100%;;
}

body { margin: 0; }

/* main-container {
    padding:10px;
} */
body { margin: 0; }

.spring {
    background-color: red !important; /* Light green background */
}

.summer {
    background-color: #ffd700 !important; /* Yellow background */
}

.monsoon {
    background-color: #b0e0e6; /* Powder blue background */
}

.autumn {
    background-color: #ffa500; /* Orange background */
}

